release
debug
*.manifest
*.iobj
*.ipdb
*.db
*.png
*.opendb

\.vs/*

noiseErosion\.tga
noiseErosionPacked\.tga
noiseShape\.tga
noiseShapePacked\.tga

debugBaseXY0\.tga
debugBaseXY112\.tga
debugBaseXY16\.tga
debugBaseXY32\.tga
debugBaseXY48\.tga
debugBaseXY64\.tga
debugBaseXY80\.tga
debugBaseXY96\.tga
debugBaseXZ0\.tga
debugBaseXZ112\.tga
debugBaseXZ16\.tga
debugBaseXZ32\.tga
debugBaseXZ48\.tga
debugBaseXZ64\.tga
debugBaseXZ80\.tga
debugBaseXZ96\.tga
debugErosionXY0\.tga
debugErosionXY12\.tga
debugErosionXY16\.tga
debugErosionXY20\.tga
debugErosionXY24\.tga
debugErosionXY28\.tga
debugErosionXY4\.tga
debugErosionXY8\.tga
debugErosionXZ0\.tga
debugErosionXZ12\.tga
debugErosionXZ16\.tga
debugErosionXZ20\.tga
debugErosionXZ24\.tga
debugErosionXZ28\.tga
debugErosionXZ4\.tga
debugErosionXZ8\.tga


